includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/larastan/larastan/bootstrap.php
    stubFiles:
        - stubs/SabreNode.stub
        - stubs/SabreReader.stub
    parallel:
        maximumNumberOfProcesses: 1
    tmpDir: build/phpstan
